@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Montserrat:wght@400;500;600&family=Noto+Sans:wght@400;500;600&family=Open+Sans:wght@400;600&family=Roboto:wght@400;500;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background-color: rgb(235, 235, 235);
    font-family: 'Open Sans', sans-serif;
}
.container {
    margin: 6rem auto;
    border-radius: 10px;
    padding: 12px;
    width: 350px;
    background-color: rgb(255, 255, 255);
    text-align: center;
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
}
.text {
    margin: 14px auto;
}
.text h1 {
    margin-bottom: 8px;
}
.text label {
    font-size: 1rem;
}
.input-form {
    margin: 16px auto;
    display: flex;
    justify-content: center;
    gap: 12px;
}
.input-form input {
    padding: 4px 10px; 
    border-radius: 4px;
}
.input-form button {
    padding: 6px 12px;
    border-radius: 4px;
    cursor: pointer;
    background-color: rgb(26, 97, 196);
    border: none;
    font-weight: 600;
    color: white;
}
.input-form button:hover {
    background-color: rgb(51, 125, 228);
}
.wrapper p {
    margin: 8px auto;
    font-size: 0.8rem;
}